<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectToLanding">
          <match url="^$" />
          <action type="Redirect" url="/landing" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>