<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectToLanding">
          <match url="^$" />
          <action type="Redirect" url="/oherplace" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings> 
    <add key="ConfigApplied" value="true" /> 
  </appSettings> 
</configuration>