.container {
    margin: auto;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    max-width: 100vw;
   
  }

  .mat-card-container{
    padding: 16px;
    margin: 16px;
    width: 900px;
  }
  
  .method-container {
    flex: 1;
  }
  
  .url-container  {
    width: 60%;
    margin-left: 16px;
  }
  mat-form-field{
    width: 400px;
  }

  .header-item {
    width: 100%;
  }
  
  .header-item mat-form-field:first-child {
    width: 60%;
  }
  
  .header-item mat-form-field:last-child {
    width: 40%;
    margin-left: 16px; 
  }
  
  .custom-button {
    border-radius: 50%;
    float: right;
  }

  .xforms-container {
    /* Estilos para el contenedor de los x-forms */
  }
  
  .xform-item {
    width: 100%;
  }
  
  .xform-item mat-form-field:first-child {
    width: 60%;
  }
  
  .xform-item mat-form-field:last-child {
    width: 40%;
    margin-left: 16px;
  }
  .body-block{
    height: 250px;
  }
  .data-box{
    max-height: 500px;
    margin: 16px;
  }