<div class="landing-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
    <div class="element1" fxFlex="50" fxFlex.xs ="0" class="vertical-container" fxLayoutAlign="start start">
        <div fxLayout="column">
            <div fxLayout="row" class="box-color-container">
                <div class="first"></div>
                <div class="second"></div>
                <div class="third"></div>
                <div class="fourth"></div>
            </div>
        </div>
    
    </div>
    <div class="element2" fxFlex="50" fxFlex.xs ="0" class="vertical-container" fxLayoutAlign="end end">
        <div fxLayout="column"  >
            <div fxLayout="column" class="box-nm-container">
                <div fxLayoutAlign="start center" fxFlex="50"><span class="textNM">N</span></div>
                <div fxLayoutAlign="end center" fxFlex="50"><span class="textNM">M</span></div>
            </div>
            
        </div>
</div>
</div>